workspace_MD/Sistemaxm/ServicoWSService.wsdl


<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. 
-->
<!--
 Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. 
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.sistemaxm.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.sistemaxm.com.br/" name="ServicoWsService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.sistemaxm.com.br/" schemaLocation="http://localhost:8080/Sistemaxm?xsd=1"/>
</xsd:schema>
</types>
<message name="TodosOsServicos">
<part name="parameters" element="tns:TodosOsServicos"/>
</message>
<message name="TodosOsServicosResponse">
<part name="parameters" element="tns:TodosOsServicosResponse"/>
</message>
<message name="setListaServicos">
<part name="parameters" element="tns:setListaServicos"/>
</message>
<message name="setListaServicosResponse">
<part name="parameters" element="tns:setListaServicosResponse"/>
</message>
<message name="getListaServicos">
<part name="parameters" element="tns:getListaServicos"/>
</message>
<message name="getListaServicosResponse">
<part name="parameters" element="tns:getListaServicosResponse"/>
</message>
<message name="CadastrarServico">
<part name="parameters" element="tns:CadastrarServico"/>
<part name="tokenUsuario" element="tns:tokenUsuario"/>
</message>
<message name="CadastrarServicoResponse">
<part name="result" element="tns:CadastrarServicoResponse"/>
</message>
<portType name="ServicoWs">
<operation name="TodosOsServicos">
<input wsam:Action="http://ws.sistemaxm.com.br/ServicoWs/TodosOsServicosRequest" message="tns:TodosOsServicos"/>
<output wsam:Action="http://ws.sistemaxm.com.br/ServicoWs/TodosOsServicosResponse" message="tns:TodosOsServicosResponse"/>
</operation>
<operation name="setListaServicos">
<input wsam:Action="http://ws.sistemaxm.com.br/ServicoWs/setListaServicosRequest" message="tns:setListaServicos"/>
<output wsam:Action="http://ws.sistemaxm.com.br/ServicoWs/setListaServicosResponse" message="tns:setListaServicosResponse"/>
</operation>
<operation name="getListaServicos">
<input wsam:Action="http://ws.sistemaxm.com.br/ServicoWs/getListaServicosRequest" message="tns:getListaServicos"/>
<output wsam:Action="http://ws.sistemaxm.com.br/ServicoWs/getListaServicosResponse" message="tns:getListaServicosResponse"/>
</operation>
<operation name="CadastrarServico" parameterOrder="parameters tokenUsuario">
<input wsam:Action="http://ws.sistemaxm.com.br/ServicoWs/CadastrarServicoRequest" message="tns:CadastrarServico"/>
<output wsam:Action="http://ws.sistemaxm.com.br/ServicoWs/CadastrarServicoResponse" message="tns:CadastrarServicoResponse"/>
</operation>
</portType>
<binding name="ServicoWsPortBinding" type="tns:ServicoWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="TodosOsServicos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setListaServicos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListaServicos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CadastrarServico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:CadastrarServico" part="tokenUsuario" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicoWsService">
<port name="ServicoWsPort" binding="tns:ServicoWsPortBinding">
<soap:address location="http://localhost:8080/Sistemaxm"/>
</port>
</service>
</definitions>